interface {{interface.name}}
    description {{interface.description}}
    switchport access vlan {{interface.vlan}}
    switchport voice vlan {{interface.voice_vlan}}
    switchport mode access
    no shutdown
